/* Sidebar */
.sidebar {
    border-right: 1px solid rgba($color: $dark-blue, $alpha: .12);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;

    @include md_view() {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 600;
        transform: translateY(100%);

        &.open {
            transform: translateY(0);
        }
    }

    @include sm_view() {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 600;
        transform: translateY(100%);

        &.open {
            transform: translateY(0);
        }
    }

    @include xs_view() {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 600;
        transform: translateY(100%);

        &.open {
            transform: translateY(0);
        }
    }

    /* Sidebar: Header */
    &__header {
        padding: 30px;
        padding-bottom: 15px;

        @include sm_view() {
            padding: 15px;
        }
        
        @include xs_view() {
            padding: 15px;
        }
    }

    /* Sidebar: Header: Title */
    &__header-title {
        color: $orange;
        font-family: $side-font;
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 rgba($color: $orange, $alpha: .25);
        line-height: 30px;
        display: block;

        @include xl_view() {
            font-size: 25px;
            line-height: 25px;    
        }

        @include lg_view() {
            font-size: 25px;
            line-height: 25px;    
        }
    }

    /* Sidebar: Header: Subtitle */
    &__header-subtitle {
        color: $dark-blue;
        font-family: $side-font;
        font-size: 50px;
        text-transform: uppercase;
        text-shadow: 3px 3px 0 rgba($color: $dark-blue, $alpha: .25);
        line-height: 50px;
        display: block;
        
        @include xl_view() {
            font-size: 30px;
            line-height: 30px;
            text-shadow: 2px 2px 0 rgba($color: $dark-blue, $alpha: .25);
        }

        @include lg_view() {
            font-size: 30px;
            line-height: 30px;
            text-shadow: 2px 2px 0 rgba($color: $dark-blue, $alpha: .25);
        }
    }

    /* Sidebar: Navigation */
    &__nav {
        margin: 20px 0;

        @include md_view() {
            height: calc(100vh - 233px);
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        @include sm_view() {
            height: calc(100vh - 233px);
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        @include xs_view() {
            height: calc(100vh - 233px);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    /* Sidebar: Navigation: Link */
    &__nav-link {
        color: $dark-blue;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 10px 30px;
        position: relative;
        display: block;
        margin-bottom: 10px;
        
        @include sm_view() {
            padding: 15px;
        }
        
        @include xs_view() {
            padding: 15px;
        }

        &--active {
            background-color: rgba($color: $dark-blue, $alpha: .03);
            
            &::after {
                content: ' ';
                background-color: $orange;
                width: 3px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: -2px;

                @include md_view() {
                    width: 6px;
                }

                @include sm_view() {
                    width: 6px;
                }
                
                @include xs_view() {
                    width: 6px;
                }
            }
        }

        &:hover, &:focus {
            background-color: rgba($color: $dark-blue, $alpha: .03);
            
            &::after {
                content: ' ';
                background-color: $orange;
                width: 3px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: -2px;

                @include md_view() {
                    width: 6px;
                }
                
                @include sm_view() {
                    width: 6px;
                }
                
                @include xs_view() {
                    width: 6px;
                }
            }
        }
    }
}