.divider {
    position: relative;
    margin: 0 30px;

    @include sm_view() {
        margin: 0 15px;
    }
    
    @include xs_view() {
        margin: 0 15px;
    }

    i {
        background-color: white;
        color: $dark-blue;
        font-size: 11px;
        position: absolute;
        top: -5px;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    &__line {
        border-top: 1px solid rgba($color: $dark-blue, $alpha: .12);
        height: 0;
    }
}